$titleColor : rgb(204, 0, 143);
$mainBgColor : rgb(228, 228, 228);

$brandColor : #062a69;
$hoverBgColor : #dae9fe;

@mixin centralizerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin backgroundSize($value){
    background-size: $value;
    -moz-background-size: $value;
    -o-background-size: $value;
}


// ? hyper mixin in flex
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: "";
    justify-content: $justify;
    align-items: $align;
}
