/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';
}


main{
    height: calc(100vh - 90px);
    background-color: blueviolet;
}

footer{
    height: 90px;
    background-color: rgb(40, 40, 40);
}

/* Prima soluzione: float */
/* main:after{
    content:'';
    display: table;
    clear: both;
}

main div.col{
    float: left;
}

main div.col-left{
    width: 220px;
    height: 100%;
    background-color: cornflowerblue;
}

main div.col-right{
    width: calc(100% - 220px);
    height: 100%;
    background-color: cadetblue;
} */

main{
    display: flex;
}

.inline-list{
    list-style-type: none;
    text-align: center;
    font-size: .75rem;
    padding: 1rem;
}

.inline-list li,
.inline-list a{
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: .33rem;
    color: rgba(255, 255, 255, .6);
}

main nav.col-left{
    /* TODO quando passo il banner in fixed: padding-top: 80px */
    width: 220px;
    background-color: black;
}

main section.col-right{
    width: calc(100% - 220px);
    background-color: rgb(20, 25, 34);
    overflow-y: auto;
    overflow-x: hidden;
}

main section#albums{
    color: white;
}

main section#albums h2{
    margin: 1rem;
}

main section#recently-played{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}

main section#albums .album-item{
    text-align: center;
    flex-basis: calc(94% / 6);
    margin: .5%; /* .5% */
    font-size: .75rem;
}

main section#albums .cover-image img{
    width: 100%;
}

@media screen and (max-width: 992px){
    main section#albums .album-item{
        text-align: center;
        flex-basis: calc(94% / 4);
        margin: 1% .5%; /* .5% */
        font-size: .5rem;
    }
}

@media screen and (max-width: 576px){
    main section#albums .album-item{
        text-align: center;
        flex-basis: calc(94% / 2);
        margin: 2% .5%; /* .5% */
        font-size: .44rem;
    }
}








main div#call-to-action{
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    height: 80px;
}

nav#main-navbar{
    color: #8a8a8a;
    font-size: .75rem;
    line-height: 2.15rem;
}


nav#main-navbar a{
    text-decoration: none;
    font-weight: 600;
    color: #8a8a8a;
}



nav#main-navbar section.nav-top {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    /* background-color:rgba(255, 255, 255, .1); */
}

nav#main-navbar div.nav-logo{
    padding: 1.35rem;
}

nav#main-navbar div.nav-logo img{
    width: 70%;
}

nav#main-navbar ul.nav-menu-list li{
    list-style-type: none;
}

nav#main-navbar .nav-menu ul.nav-menu-list li{
    padding-left: 1.5rem;
    border-left: 3px solid transparent;
}
nav#main-navbar ul.nav-menu-list li.active{
    border-color: lime;
}

nav#main-navbar ul.nav-menu-list li.active a span{
    text-decoration: none;
    color: white;
}

nav#main-navbar ul.nav-menu-list img{
    height: 1.7rem;
    margin-right: .35rem;
    vertical-align: middle;
}




/* Navbar bottom */

nav#main-navbar section.nav-bot{
    height: 80px;
    padding: 0 1.6rem
    /* background-color:rgba(255, 255, 255, .1); */
}

nav#main-navbar section.nav-bot .download {
    border-bottom: 1px solid gray;
    margin-bottom: .35rem;
}

nav#main-navbar section.nav-bot .download img{
    margin-right: .35rem;
    vertical-align: middle;
}

nav#main-navbar section.nav-bot .download > a img{
    width: 1rem;
    filter: opacity(.7);
    vertical-align: middle;
}

nav#main-navbar section.nav-bot .user{
    display: flex;
    align-items: center;
    padding-bottom: .35rem;
    font-size: 1rem;
    font-weight: 600;
    color:white;
}

nav#main-navbar section.nav-bot .user-avatar {
    background-color: #a3a3a3;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: .7rem;
    padding: .2rem;
}

nav#main-navbar section.nav-bot .user-avatar > img{
    width: 100%;
    filter: opacity(.7);
    vertical-align: top;
}


nav#main-navbar .nav-logo{
    height: 80px;
    /* background-color:rgba(255, 255, 255, .1); */
}

nav#main-navbar .nav-menu{
    height: 110px;
    /* background-color:rgba(255, 255, 255, .1); */
}

/* Navbar Playlist section */


nav#main-navbar .nav-playlists{
    height: 280px;
    /* background-color: rgba(255, 255, 255, .1); */
    padding-left: 1.6rem;
}

nav#main-navbar h3 {
    margin-top: .5rem;
    text-transform: uppercase;
    font-size: .8rem;
    color:white;
}

nav#main-navbar .nav-playlists > a > span::before{
    content: '+';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #a3a3a3;
    vertical-align: middle;
    color: black;
    text-align: center;
    font-size: 1.7rem;
    margin-right: .35rem;
    margin-bottom: .3rem;
}





footer#player{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color:white;
}


footer#player section.player-album,
footer#player section.player-controller,
footer#player section.player-fader{
    display:flex;
    flex-basis: 20%;
    justify-content: space-evenly;
}

footer#player section.player-controller{
    flex-direction: column;
    flex-basis: 40%;
    text-align: center;
}

footer#player .player-bar-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer#player .player-bar{
    width: 60%;
    height: 5px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
}

footer#player .music-elapsed-time{
    height: 100%;
    width: 17%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}