/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Whitney', sans-serif;
}

h1,h2,h3, p{
    margin: 1rem;
    padding: .5rem;
}

header{
    margin: 2% auto;
    background-color: red;
    height: 23vh;
    width: 96%;
}

.flex-container{
    display: flex;
}

header #logo{
    flex-basis: 60%;
    font-size: 3.8rem;
    font-family: serif;
}

header nav#nav-bar{
    flex-basis: 40%;
    /* justify-content: center; */
    align-items: center;
}

header nav#nav-bar ul li{
    display: inline;
    margin-right: 1rem;
}

.flex{
    display: flex;
}

.container{
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(203, 255, 235);
    height: 50vh;
}

div.box{
    height: 200px;
    width: 200px;
    background-color: deeppink;
    border: 5px lime solid;
}

div.box h1{
    font-size: 6rem;
    margin: auto;
}

.grow-1{
    flex-grow: 1;
}

.grow-2{
    flex-grow: 2;
}
