//
@import "partials/variables";
@import "partials/common";

p {
    font-size: 2rem;
}

header{
    div#index-header{
        text-align: center;

        img{
            margin-bottom: 1.6rem;
        }
    }

    ul{
        display: flex;
        justify-content: center;
        // width: 70%;
        margin: 0 auto;

        li{
            list-style-type: none;
            padding: 1rem;

            a{
                font-weight: 600;
                text-decoration: none;
                color: black;
            }

            &:active,
            &.active{
                background-color: $hoverBgColor;
            }
        }
    }
}

div.centralize{
    display: flex;
    flex-direction: column;
    color: $brandColor;
    padding: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url('/images/fondo-pag-speciali.jpg');

    h2{
        margin-bottom: 2rem;
    }
}

div.centralize.bg-blue{
    background-image: none;
    background-color: $lightBlueBrandColor;
}

div.pasta-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

        div.pasta-element{
            width: calc(25% - (.8rem));
            margin: .1rem;
            background-color: white;
            padding: 1rem;
            text-align: center;

            img{
                width: 100%;
            }
    }


}


div.single-pasta-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;


    .single-pasta-element{
        width: 100%;
        margin: .1rem;
        padding: 1rem;
        text-align: center;

        img{
            width: 100%;
        }

        img.pasta-thumbnail{
            width: 22%;
        }
    }

}

div.bg-white{
    background-color: white;
}