/*  ? Non effettuare mai reset in caso di importazione di librerie
    ? o framework che siamo consapevoli facciano già altrettanto. */

body{
    font-family: 'Montserrat';
}

section.container,
section.container-fluid{
    margin-bottom: 1.25rem;
}

.box-riempitore,
.box-nested,
.box-large
{
    min-height: 60px;
    background-color: magenta;
    border: solid 1px white;
    color: white;
    padding: .75rem;

    text-align: center;
    line-height: 30px;
}

.box-nested{
    font-size: .7rem;
    background-color: aquamarine;
    border-color: magenta;
}

.box-large{
    min-height: 120px;
}

.justify-st{
    justify-content: start;
}

.justify-ct{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}


.align-items-st{
    align-items: flex-start;
}

.align-items-ct{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}
