/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
	content: ""; /* # Necessario per definizione di pseudo-elemento (before, after, ecc.) */
    display: table; /*? Necessario per compatibilità con vecchi browser, per gestire la relazione con il contenuto indipendentemente dalle nuove funzionalità */
    clear: both;
}

/* Live coding 1 */

/*
.container{
    background-color: mediumaquamarine;
} */


/*
.fl-left{
    float: left;
}

.fl-right{
    float: right;
} */

/* .blue{
    height: 200px;
    width: 200px;
    float: left;
    padding: 10px;
    color: white;
    background-color: blue;
}

.pink{
    height: 220px;
    width: 220px;
    float: right;
    background-color: rgb(255, 0, 98);
} */

/* main{
    padding: 20px;

} */

header{
    /* float: left; */
    height: 150px;
    width: 100%;
    background-color: yellow;
    margin-bottom: 20px;
}

footer{
    /* float: left; */
    height: 150px;
    width: 100%;
    background-color: cyan;
}


.container{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 650px;
}

header.container{
    margin: 20px auto;
}

.menu,
.main{
    height: 470px;
    display: inline-block;
}

.menu{
    width: calc((100% / 3) - 10px);
    /* height: 300px; */
    background-color: blue;
    float: left;
}

.main{
    width: calc(100% / 3);
    background-color: rgb(255, 0, 128);
    float: left;

    margin: 0 10px 20px;
    /* Shorthand di questo */
    /* margin: 0 10px 20px 10px; */
}

